/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 22, 2025, 9:39:34 PM
    Author     : Mimman
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.0px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:#b31d25;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #6b0f20, #1d4e26);
    
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-alignment: CENTER_LEFT;
}

.logout-btn{
    -fx-background-color:#123641;
    -fx-background-radius:50px;
    -fx-cursor:hand;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.2), 2,0,0,0);
}

.logout-btn:hover{
    -fx-background-color:#2b849f;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}

.card1{
    -fx-background-color:linear-gradient(to right, #6b2f39, #a34747);
    -fx-background-radius:8px;
}

.card2{
    -fx-background-color:linear-gradient(to right, #324a72, #477cb5);
    -fx-background-radius:8px;
}

.card3{
    -fx-background-color:linear-gradient(to right, #7c3a70, #a15794);
    -fx-background-radius:8px;
}